<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="1.1.0" />
  <package id="Castle.DynamicProxy" version="2.1.0" />
  <package id="Clay" version="1.0" />
  <package id="Clay.Sample" version="1.0" />
  <package id="Dapper" version="1.8" />
  <package id="ImpromptuInterface" version="5.6.2" />
  <package id="log4net" version="1.2.10" />
  <package id="Massive" version="1.0" />
  <package id="Simple.Data.Ado" version="0.12.2.2" />
  <package id="Simple.Data.Core" version="0.12.2.2" />
  <package id="Simple.Data.SqlCompact40" version="0.12.2.2" />
</packages>